header.header {
    border-bottom:1px solid rgba(255, 255, 255, 0.15);
    line-height:1;
    /*position:absolute;*/background: #000;
    width:100%;
    z-index:10;
}

.container {
    justify-content: space-between;
    display: flex;
    align-items: center;
    max-width: 100%;
    padding: 0 calc(var(--space-gutter) + 1.25rem);
}

/* Navigation */
nav.main ul {
    list-style:none;
}

nav.main li {
    display:inline;
}

nav.main li a {
    position:relative;
    text-transform:uppercase;
    display:inline-block;
    color:var(--color-base);
    font-weight:var(--weight-semibold);
    font-size:.813rem;
    padding: 33px 22px;
    letter-spacing: 0.5px;
}

nav.main a:after {
    z-index: 1;
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    bottom: -1px;
    height:1px;
    background:transparent;
    width:0;
    transition: 250ms ease-in-out;
}

nav.main li a:hover:after,
nav.main .current:after {
    margin-left:22px;
    width:calc(100% - 44px);
    left:0;
    background:var(--color-base);
}

/* Social Icons */
.social a {
    display:inline-block;
    padding:2px 4px;
    margin-left: 10px;
    transition: var(--transition);
}

.social a:hover {
    opacity:0.5;
}

.social svg {
    fill: var(--color-base);
    width:16px;
}