.hero {
    position: relative;
    background: var(--color-main) url(/images/mobile-hero.webp) center center;
    background-size: cover;
}

.videoBG {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    left: 0;
    top: 0;
}

.heroOverlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.45);
    z-index: 2;
}

.heroText {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 88vh;
    position: relative;
    z-index: 4;
    text-align: center;
}

@media only screen and (max-width: 1024px) {
    .heroText {
        height: 600px;
    }
}

@media only screen and (max-width: 767px) {
    .heroText {
        height: 460px;
    }
}

h1.heroTitle {
    color: var(--color-base);
    font-weight: var(--weight-extrabold);
    font-size: clamp(1.875rem, -2.3438rem + 13.5vw, 5.25rem);
    padding-top: var(--space-quad);
    padding-bottom: var(--space-half);
}

h2.heroSubtitle {
    color: var(--color-base);
    font-weight: var(--weight-regular);
    font-size: clamp(1rem, 0.5313rem + 1.5vw, 1.375rem);
    padding-bottom: calc(var(--space-gutter) + 0.25rem);
}

.eliteSection {
    background:var(--color-heading) url(/images/highlight-bg.webp);
    background-size:cover;
    padding:7rem 0;
    margin-top:var(--space-quad);
}

.eliteGrid {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 767px) {
    .eliteSection img {
        margin-bottom: var(--space-double);
    }
    .eliteGrid {
        flex-direction:column;
        text-align:center;
    }
    .eliteSection {
        padding:5rem 0;
    }
}

.eliteSection h2 {
    color:var(--color-base);
    font-size: clamp(1.875rem, 0.9375rem + 3vw, 2.625rem);
    margin-bottom:var(--space-half);
}

.eliteSection h3 {
    color: var(--color-base-alt);
    font-weight:var(--weight-light);
    font-size: clamp(1rem, 0.6875rem + 1vw, 1.25rem);
}

.eliteSection h3 strong{
    font-weight: var(--weight-bold);
}

.eliteSection img {
    width:110px;
    margin-right:var(--space-double);
}