@import url("layout/reset.css");
@import url("layout/variables.css");

::-moz-selection {
  background: var(--color-primary);
  color: var(--color-base);
}

::selection {
  background: var(--color-primary); 
  color: var(--color-base);
}

body {
  background: var(--color-base);
  color: var(--color-main);
  font-size: var(--font-size-base);
  line-height: 1.6;
  font-family: sans-serif;
}

a {
  transition: color var(--transition);
}

a,
a:active,
a:hover,
a:visited {
  color: var(--color-primary);
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-heading);
  font-weight: var(--weight-bold);
  line-height: 1.35;
}

h6 {
  font-size: var(--font-size-xsmall);
}

h5 {
  font-size: var(--font-size-base);
}

h4 {
  font-size: var(--font-size-xlarge);
}

h3 {
  font-size: var(--font-size-xlarge);
}

h2 {
  font-size: var(--font-size-xlarge);
  line-height: 1.2;
}

h1 {
  font-size: var(--font-size-xxxlarge);
  line-height: 1.15;
}

.container {
  margin: 0 auto;
  max-width: 75rem;
  padding: 0 var(--space-gutter);
}

.container-full {
  max-width: 100%;
  padding: 0 calc(var(--space-gutter) + 1.25rem);
}

.xl-btn a.button {
  font-size: calc(var(--font-size-small) + 0.05rem);
}

a.button {
  cursor: pointer;
  border: none;
  line-height: 1;
  padding: 1.25rem 2.5rem;
  border-radius: 3rem;
  font-size: var(--font-size-small);
  font-weight: var(--weight-semibold);
  vertical-align: middle;
  color: var(--color-base);
  background: var(--color-primary);
  display: flex;
  margin: 0 auto;
  align-items: center;
  transition:var(--transition);
}

a.button svg {
  fill: var(--color-base);
  display: inline;
  width: 14px;
  margin-left: var(--space-quarter);
  transition: var(--transition);
}

a.button:hover {
  background: var(--color-heading);
  color: var(--color-base);
}

a.button:hover svg {
  fill: var(--color-base);
}

.alt-btn a.button:hover {
  color: var(--color-heading);
  background: var(--color-base);
}