@import url("imports/reset.css");
@import url("imports/variables.css");
@import url("imports/buttons.css");
@import url("imports/containers.css");

::-moz-selection {
  background: var(--color-primary);
  color: var(--color-base);
}

::selection {
  background: var(--color-primary); 
  color: var(--color-base);
}

body {
  background: var(--color-body);
  color: var(--color-main);
  font-size: var(--font-size-base);
  line-height: 1.6;
  font-family: sans-serif;
}

a {
  transition: color var(--transition);
}

a,
a:active,
a:hover,
a:visited {
  color: var(--color-primary);
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-heading);
  font-weight: var(--weight-bold);
  line-height: 1.35;
}

h6 {
  font-size: var(--font-size-xsmall);
}

h5 {
  font-size: var(--font-size-base);
}

h4 {
  font-size: var(--font-size-medium);
}

h3 {
  font-size: var(--font-size-large);
  margin-bottom:var(--space-half);
}

p {
  margin-bottom:var(--space-default);
}

hr {
  background-color:var(--color-light-grey);;
  height: 2px;
  border: 0;
  margin-bottom: var(--space-default);
}

pre {
  margin-bottom: var(--space-default);
  overflow-x: auto;
  font-family: Courier, monospace;
  background:var(--color-light-grey);
  color:var(--color-heading);
  padding:var(--space-half);
  border-radius:6px;
}

h2 {
  font-size: var(--font-size-xlarge);
  line-height: 1.2;
}

h1 {
  font-size: var(--font-size-xxxlarge);
  line-height: 1.15;
}

.heading-section-global {
  padding: var(--space-quad) 0 var(--space-double) 0;
  text-align:center;
}

.heading-section-global h2 {
  font-size: clamp(2rem, 1.375rem + 2vw, 2.5rem);
  margin-bottom:var(--space-gutter);
}

.heading-section-global h3 {
  font-size: clamp(1rem, 0.8438rem + 0.5vw, 1.125rem);
  font-weight:var(--weight-light);
  color:var(--color-main);
}

.text-danger {
  color: var(--color-primary);
  font-size:var(--font-size-xsmall);
  margin-top: -1em;
  padding:4px 6px;
  background:var(--color-primary);
  color:var(--color-body);
  margin-bottom: var(--space-default);
}

@media only screen and (min-width: 1025px) {
  .hidedesktop {
    display:none;
  }
}

@media only screen and (max-width: 1024px) {
  .hidetablet {
    display:none;
  }
}

@media only screen and (max-width: 767px) {
  .hidemobile {
    display: none;
  }
}

.error-page-container {
  text-align:center;
  max-width:680px;
  margin:auto;
}

.error-page-container h6 {
  color: var(--color-sub-heading);
  margin-bottom:var(--space-half);
  font-size:var(--font-size-base);
  text-transform:uppercase;
}