.contactHeading {
    margin: 0 auto var(--space-double) auto;
}

.contactHeading h3 {
    font-size: clamp(1.3rem, 0.7375rem + 1.8vw, 1.75rem);
}

.success {
    max-width: 700px;
    margin:0 auto;
}

.contactHeading h4 {
    color:var(--color-main);
    font-weight: var(--weight-light);
    font-size:var(--font-size-bas);
}

form.contactForm {
    display:flex;
    flex-direction:column;
    max-width:700px;
    margin:0 auto;
}

form.contactForm input {
    max-width:400px;
}

form.contactForm textarea,
form.contactForm input {
    background:var(--color-base);
    border:2px solid var(--color-base);
    box-shadow: 0px 10px 35px rgba(0, 0, 0, 0.05);
    margin-bottom:var(--space-default);
    border-radius:0px;
    transition:var(--transition);
    padding:var(--space-half) var(--space-half);
    font-size:var(--font-size-small);
}

form.contactForm textarea:focus,
form.contactForm input:focus {
    outline: none;
    border-color:var(--color-primary);
    border-radius:0;
}