.hero {
    position: relative;
    background: var(--color-main);
    background-size: cover;
}

.videoBG {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    left: 0;
    top: 0;
    z-index:3;
}

.heroMobile {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height:100%;
    object-fit: cover;
    object-position: center center;
    z-index:2;
}


.heroOverlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.45);
    z-index: 4;
}

.heroText {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 88vh;
    position: relative;
    z-index: 5;
    text-align: center;
}

@media only screen and (max-width: 1024px) {
    .heroText {
        height: 600px;
    }
}

@media only screen and (max-width: 767px) {
    .heroText {
        height: 460px;
    }
}

h1.heroTitle {
    color: var(--color-base);
    font-weight: var(--weight-extrabold);
    font-size: clamp(1.875rem, -2.3438rem + 13.5vw, 5.25rem);
    padding-top: var(--space-quad);
    padding-bottom: var(--space-half);
}

h2.heroSubtitle {
    color: var(--color-base);
    font-weight: var(--weight-regular);
    font-size: clamp(1rem, 0.5313rem + 1.5vw, 1.375rem);
    padding-bottom: calc(var(--space-gutter) + 0.25rem);
}

.eliteSection {
    background:var(--color-heading) url(/images/highlight-bg.webp);
    background-size:cover;
    padding:7rem 0;
    margin-top:var(--space-quad);
}

.eliteGrid {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.eliteSection h2 {
    color:var(--color-base);
    font-size: clamp(1.875rem, 0.9375rem + 3vw, 2.625rem);
    margin-bottom:var(--space-half);
}

.eliteSection h3 {
    color: var(--color-base-alt);
    font-weight:var(--weight-light);
    font-size: clamp(1rem, 0.6875rem + 1vw, 1.25rem);
}

.eliteSection h3 strong{
    font-weight: var(--weight-bold);
}

.eliteSection img {
    width:110px;
    margin-right:var(--space-double);
}

@media only screen and (max-width: 767px) {
    .eliteSection img {
        margin-bottom: var(--space-double);
        margin-right:0;
    }

    .eliteGrid {
        flex-direction: column;
        text-align: center;
    }

    .eliteSection {
        padding: 5rem 0;
    }
}


.aboutContainer {
    display: flex;
    padding-top:var(--space-default);
    max-width:900px;
    margin:0 auto;
    align-items: center;
}

.aboutImage {
    width: 40%;
}

.aboutText {
    width:60%;
    padding: var(--space-quad) 0 var(--space-half) 0;
}

.aboutText h2 {
    font-size: clamp(2rem, 1.375rem + 2vw, 2.5rem);
    margin-bottom: var(--space-half);
}

.aboutText h3 {
    font-size: clamp(1rem, 0.625rem + 1.2vw, 1.3rem);
    font-weight: var(--weight-light);
    color: var(--color-main);
    margin-bottom: var(--space-gutter);
}

@media only screen and (max-width: 767px) {
    .aboutContainer {
        flex-direction: column;
    }
    .aboutText, .aboutImage {
        width:auto;
    }

    .aboutImage img {
        max-width:400px;
    }
}
